/*f3f6f4 https://discourse.joplinapp.org/t/share-your-css/1730/23) */

:root {
  --my-green: #006600;
  --my-text: #24292F;
  --my-light-grey: #eeeeee;
  --my-white: #ffffff;
  --my-unchecked: #f4cccc;
  --my-checked: #d9ead3;
  --my-light-yellow: #fff2cc;
}


* {
    color: var(--my-text);
    background-color: #FFFFFF;
    /* font-family: "sf pro display", "Segoe UI",Helvetica,Arial,sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 15px;  
  }


li {
}


element.style {
}

.better-markdown-viewer-highlight-line-dark {
  background-color: var(--my-light-yellow) !important;
}

.checkbox-label-unchecked {
  background-color: var(--my-unchecked);
}

.checkbox-label-checked {
  background-color: var(--my-checked);
}


code, span, pre {
  color: #var(--my-text);
  font-family: monospace !important ;
  background-color: var(--my-light-grey) !important;
  /* border: #AFB8C133 !important */;
  border: var(--my-light-grey) !important;
  padding-left: 0.2em;
}

code.inline-code {
  color: var(--my-text) !important;
}

h1 {
  margin-top: 0 !important;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 1.5em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  /* margin-bottom: 16px; */
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
  /* margin-bottom: 16px */;
  margin-top: 24px;
}

pre {
  border-radius: 3px;
}

a {
  color: #0969DA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  height: .25em;
  padding: 0;
  /* margin: 24px 0;*/ 
  background-color: var(--joplin-color-error) !important;
  border: 0;
}

td {
  color: #24292F !important;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr:nth-col(even) {
  background-color: #f3f6f4 !important; /* #f6f8fa;*/
}

tr:nth-col(odd) {
  background-color: #d9ead3 !important; /* #f6f8fa;*/
}

th {
 background-color: #bcbcbc !important; 
}

p {
  margin-bottom: 0.6em;
}

a[data-resource-id] {
  color: var(--my-white); /* change the colour of INTERNAL links */
  background-color: #0969DA; /* #8fce00; */
  border: 0.1em
  font-size: 0.8em;
  /* font-family: "Noto Sans", sans-serif; */
  border-radius: 5px;
}


.resource-icon.fa-joplin {
display: none; /* do not display the Joplin resource icon */
}

.resource-icon {
background-color: var(--my-green); /* change other resource link icons to the same as the internal link colour */
}



