/*f3f6f4 https://discourse.joplinapp.org/t/share-your-css/1730/23) */

:root {
  --my-green: #006600;
  --my-text: #24292F;
  --my-light-grey: #eeeeee;
  --my-white: #ffffff;
  --my-unchecked: #fce5cd;
  --my-checked: #d9ead3;
  --my-light-yellow: #fff2cc;
}

#joplin-container-content {
  background-color: white;
}


body {
  color: var(--my-text);  
}

* {
    /* color: var(--my-text); */
    /* background-color: transparent; */ 
    /* font-family: "sf pro display", "Segoe UI",Helvetica,Arial,sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    /* font-size: 15px; */  
  }


li {
  color: var(--my-text);
}


element.style {
}

.better-markdown-viewer-highlight-line-dark {
  background-color: var(--my-light-yellow) !important;
}

.checkbox-label-unchecked {
  background-color: var(--my-unchecked);
}

.checkbox-label-checked {
  background-color: var(--my-checked);
}


code, span, pre {
  color: #var(--my-text);
  font-family: Monaco, monospace !important ;
  background-color: var(--my-light-grey) !important;
  /* border: #AFB8C133 !important */;
  border: var(--my-light-grey) !important;
  /* padding-left: 0.2em; */
  font-size: 0.9em;
}

code.inline-code {
  color: var(--my-text) !important;
  font-size: 0.9m
  padding-right: 0.2em;
  padding-left: 0.2em;
  border-radius: 0.25em;
}

h1 {
  color: var(--my-text);
  margin-top: 0 !important;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  color: var(--my-text);
  font-size: 1.5em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  /* margin-bottom: 16px; */
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  color: var(--my-text);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
  /* margin-bottom: 16px */;
  margin-top: 24px;
}

pre {
  border-radius: 3px;
}

a {
  color: ##0b5394; /* #0969DA;*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  height: 0.1em;
  padding: 0;
  /* margin: 24px 0;*/ 
  background-color: lightgrey;
  border: 0;
}

table {
/*    border-radius: 15px */;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid white !important;
    overflow:hidden;
    border-color: white !important;

}

td {
  color: var(--my-text) !important;
  padding: 6px 13px;
}

tr:nth-child(even) {
  background-color: lightgrey !important;
}

tr:nth-child(odd) {
  background-color: #dddddd !important ;
}


th {
  background-color: lightgrey !important;
  color: var(--my-text) !important;
}

div.rendered-md {
  background-color: lightgrey !important;
}


p {
  margin-bottom: 0.6em;
  color: var(--my-text);
}
a[data-resource-id] {
  color: #23652f;
  /*
  color: var(--my-white);
  background-color: #0969DA;
  border: 0.2em;
  font-size: 0.6em;
  font-weight: bold;
  border-radius: 5px;
  */
}


dl,dd,dt {
  background-color: #eeeeee !important;
}

dl {
  border-radius: 25px;
  border: 2px solid var(darkgrey);
  padding: 10px; 
}



.resource-icon.fa-joplin {
display: none; /* do not display the Joplin resource icon */
}

.resource-icon {
background-color: var(--my-green); /* change other resource link icons to the same as the internal link colour */
}



