/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/* https://github.com/EricB10/joplin-css-files/blob/master/userchrome.css */

/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */
/* Styling for Dark Theme */


:root {
	--my-bright-green: #8fce00;
	--my-grey: #bcbcbc;
	--my-light-grey: #eeeeee;
}

.cm-url { /* incl. '.cm-string' messes up strings in code blocks */
	font-size: 0.7em;
	color: var(--my-grey) !important;
}


.cm-link-text {
	color: dodgerblue !important;
}

.cm-comment {
	background-color: #1d2024;
	font-size: 0.9em !important;
	color: limegreen !important;
	/* rgb(29, 32, 36) */
}

/* Plain Texts and LaTex */
.cm-variable-2 {
	color: var(aliceblue);
}

/* Checkboxes */
.ace_variable {
	color: aliceblue !important;
}

/* Headings */
.cm-header {
	color: aqua !important; /* ffe599 */
}

.cm-quote {
	color: azure !important;
}

/* Strongs */
.cm-strong {
	color: gold !important;
	font-weight: bold !important;
}

/* Italics */
.cm-em {
	color: gold !important;
	font-style: italic !important;
}

/* Line Breaks */
.ace_constant.ace_language.ace_escape {
	color: gold !important;
}

/* Lists and Checkboxes */
/* .cm-rm-list-token {
	color: palegoldenrod !important;
}*/

/* Inline Codes and Codeblocks */
.ace_support.ace_function {
	color: limegreen !important;
}

/* Input Fields: Search (Global, Local), Note Title */
/* .header input { */
input {
	border-radius: 14px !important;
	border: 1px solid rgb(85, 85, 85);
	outline: none;
	/*
	background-color: #888888 !important;
	*/
}


button.new-todo-button {
    /* removes the "New To-do" button (v2.10.6+) */
    display: none;
}
div.new-note-todo-buttons {
     /* removes the the space for the "New To-do" button (v2.10.6+) */
    grid-template-columns: 1fr 0;
    gap: 0px;
}

button.new-note-button {
    /* removes the "New To-do" button (v2.10.6+) */
    display: none;
}
